@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: black;
}
ul,
ol,
li {
  list-style: none;
}

.top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px 0;
  align-items: center;
}
.top * {
  margin: 0 auto;
}
.top .num,
.top .time {
  font-size: 20px;
  color: red;
  background-color: black;
  padding: 5px;
  border: 3px inset gray;
}
.top .emo {
  font-size: 16px;
}

.board {
}
.board .row {
  display: flex;
  justify-content: center;
}

.btn {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 26px;
  border-radius: 2px;
  background-color: #ccc;
}

.btn:disabled {
  background-color: #ddd;
  color: #555;
}

.btn.mine {
  background-color: red;
}
